@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Setting up the background and doing some alignment */
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 87vh;
   background-image: url(image/38e24583556ec368140620174068f71a.jpg);
   padding: 17px;
}

.form-container{
    background-color: white;
    padding: 80px;
    border-radius: 7px;
    width: 50%;
}

.main-header{
  font-family: Oswald;
  text-align: center;
  font-size: 40px;
  margin-bottom: 29px;
}

/* The link to signup and login  */
.container-buttons{
   border: black solid 1px;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 30%;
   margin-bottom: 20px;
   padding: 14px;
   border-radius: 6px;
}

.login-button-span a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.login-button-span:hover{
    background-color: blue;
    width: 25%;
    height: 50%;
     border-radius: 50px;
}

.forgot-password a{
    margin-bottom: 10px;
}


.container-inputs{
   margin-bottom: 10px;
}

.email-input-container input{
    outline: none;
    width: 100%;
    padding: 7px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.password input{
    outline: none;
    width: 100%;
    padding: 7px;
    margin-bottom: 20px;
    border-radius: 5px;
}

a{
    text-decoration: none;
    font-weight: 200;
    font-size: 16px;

}



.login-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-button-one{
    padding: 17px;
    border: none;
    width: 100%;
    border-radius: 8px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    background-color: #2563EB;
    margin-top: 20px;
}

.login-button-one:active{
    transform: translateY(3px);
}

.last-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.marketeq--email-open {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50'%3E%3Cg fill='none' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath stroke='%23344054' d='M23.854 30.48a2.08 2.08 0 0 0 2.292 0L37.5 22.916V6.25h-25v16.667z'/%3E%3Cpath stroke='%23306cfe' d='m26.146 30.48l14.375-9.647a2.083 2.083 0 0 1 3.229 1.73v19.104a2.083 2.083 0 0 1-2.083 2.083H8.333a2.083 2.083 0 0 1-2.083-2.083V22.646a2.084 2.084 0 0 1 3.23-1.813l14.374 9.563a2.08 2.08 0 0 0 2.292.083'/%3E%3C/g%3E%3C/svg%3E");
}

.have-account{
    font-size: 20px
}

.signup-span{
    color: black;
}